.content {
    &-help,
    &-offer {
        position: relative;
        &__title {
            font-weight: 600;
            font-size: 64px;
            color: $gray-1;
            margin-bottom: 82px;
            letter-spacing: 0.7px;
            line-height: 130%;
            @include max-w-md {
                font-size: 48px;
                margin-bottom: 60px;
            }
            @include max-w-prev-xs {
                font-size: 36px;
                margin-bottom: 24px;
            }
        }
        &__items-wrap {
            display: flex;
            @include max-w-md {
                flex-direction: column;
            }
        }
        &__item {
            padding: 65px 55px;
            width: 610px;
            height: 280px;
            display: flex;
            align-items: center;
            background-color: $white;
            box-shadow: 0px 4px 45px rgba(15, 81, 159, 0.09);
            border-radius: 20px;
            @include max-w-xl {
                width: 510px;
                height: 250px;
                padding: 50px 40px;
            }
            @include max-w-lg {
                width: 400px;
                height: 200px;
                padding: 30px 25px;
            }
            @include max-w-md {
                width: 500px;
                height: 230px;
                padding: 40px 30px;
            }
            @include max-w-next-sm {
                width: 470px;
            }
            @include max-w-prev-xs {
                width: 100%;
                height: auto;
                padding: 30px 20px;
            }
            &:first-child {
                margin-right: 70px;
                @include max-w-xl {
                    margin-right: 55px;
                }
                @include max-w-lg {
                    margin-right: 40px;
                }
                @include max-w-md {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                @include max-w-prev-xs {
                    margin-bottom: 24px;
                }
            }
            img {
                margin-right: 70px;
                height: 145px;
                @include max-w-xl {
                    margin-right: 55px;
                }
                @include max-w-lg {
                    margin-right: 40px;
                    height: 135px;
                }
                @include max-w-md {
                    margin-right: 30px;
                    height: 120px;
                }
                @include max-w-sm {
                    margin-right: 20px;
                    height: 110px;
                }
                @include max-w-prev-xs {
                    margin-right: 10px;
                    height: 100px;
                }
            }
            p {
                font-weight: 600;
                font-size: 32px;
                line-height: 130%;
                color: $gray-1;
                margin: 0;
                width: 100%;
                text-align: center;
                @include max-w-lg {
                    font-size: 30px;
                }
                @include max-w-md {
                    font-size: 28px;
                }
                @include max-w-sm {
                    font-size: 25px;
                }
                @include max-w-prev-xs {
                    font-size: 21px;
                }
                @include max-w-xs {
                    font-size: 18px;
                }
            }
        }
    }

    &-help {
        &__title {
            @include max-w-md {
                margin-top: -3px;
            }
        }
    }
    &-offer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include max-w-prev-xs {
            align-items: flex-start;
        }
        &-wrap {
            display: inline-block;
        }
        &__title {
            margin-top: 128px;
            @include max-w-md {
                margin-top: 77px;
            }
            @include max-w-prev-xs {
                margin-top: 82px;
            }
        }
    }
}
