@mixin max-w-xs {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin max-w-prev-xs {
    @media (max-width: 567px) {
        @content;
    }
}

@mixin max-w-next-sm {
    @media (max-width: 639px) {
        @content;
    }
}

@mixin max-w-sm {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max-w-md {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin max-w-lg {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin max-w-xl {
    @media (max-width: 1399px) {
        @content;
    }
}

// mq min

@mixin min-w-sm {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin min-w-prev-sm {
    @media (min-width: 568px) {
        @content;
    }
}

@mixin min-w-next-sm {
    @media (min-width: 640px) {
        @content;
    }
}

@mixin min-w-md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin min-w-lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin min-w-xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin min-w-xxl {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin min-w-large {
    @media (min-width: 1735px) {
        @content;
    }
}
